#main h2{
	text-align: center;
	line-height: 50px;
	background-color: #fff;
	line-height: 50px;
	border-radius: 5px;
	margin-bottom: 20px;
	font-size: 18px;
	border-bottom: #e5e5e5 solid 1px;
	border-right: #e5e5e5 solid 1px;
}

.publish-main{
	background-color: #fff;
	border-radius: 5px;
	margin-bottom: 20px;
	border-bottom: #e5e5e5 solid 1px;
	border-right: #e5e5e5 solid 1px;
	padding: 20px 50px;
}
.input-line{
	margin-top: 30px;
}
.publish-submit{ text-align: center; }
.publish-submit .layui-btn{ background-color: #11cd6e; margin-top: 20px; width: 150px; height: 45px; line-height: 45px; font-size: 20px; }
